<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="p-1 mb-2 bg-light text-dark">
  <div class=" text-left bg-light">
  <div class="container-lg"></div>
{% include 'inc/navbar.html' %}
{% include 'inc/messages.html' %}
{% block content %}{% endblock %}
  </div>
  </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% block js_files %}{% endblock %}
</body>
</html>